<footer id="pi-footer" class="background-image clearfix" data-background-image="images/footer/1.jpg">
    <div class="pi-container">

     	<div class="copyright text-center text-italic">
            <p>Copyrights © 2017 all rights reserved by Wiloke</p>
        </div>

    </div>
</footer>
