<footer id="pi-footer" class="background-image clearfix" data-background-image="images/footer/1.jpg">
    <div class="pi-container">

    	<div class="footer-content">

            <div class="footer-column">
                <div class="widget">
                    <h4 class="widget-title">Contact us</h4>
                    <div class="text-italic">
                        <p>Morbi blandit est quis dictum consequat. In hendrerit placerat faucibus.</p>
                    </div>
                    <div class="item-icon-left">
                        <i class="fa fa-map-marker"></i>
                        <p><a href="#">kyphuman@gmail.com</a></p>
                    </div>
                    <div class="item-icon-left">
                        <i class="fa fa-envelope"></i>
                        <p>121 King Street, Melbourne Victoria 3000 Australia</p>
                    </div>
                    <div class="item-icon-left">
                        <i class="fa fa-phone"></i>
                        <p>+0000 987654321</p>
                    </div>
                </div>
            </div>

		    {{! Mailchimp}}
		    <div class="footer-column">
			    <div class="widget">
			        <h4 class="widget-title">Newletters</h4>
			        <div class="text-italic">
			            <p>Various versions have evolved over the years, sometimes</p>
			        </div>
			        <form action="//liket.us3.list-manage.com/subscribe/post?u=7992722dddf3741cc0dd70e0d&amp;id=9c64df358f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			            <div class="form-item">
			                <input id="mc-EMAIL" type="email" name="EMAIL" placeholder="Email address" class="form-control" required>
			            </div>
			            <div class="form-submit">
			                <input type="submit" value="Subscribe">
			            </div>
			        </form>
			    </div>
			</div>
		    {{! End Mailchimp}}

    		<div class="footer-column">
    			<div class="widget">
    				<h4 class="widget-title">Instagram</h4>
	                <div id="instafeed" class="widget-grid">
	                	
	                </div>
                </div>
            </div>

    	</div>
     	<div class="copyright text-center text-italic">
            <p>Copyrights © 2015 all rights reserved by Wiloke</p>
        </div>

    </div>
</footer>