<div class="pi-sidebar">
	
	{{! About Me}}
    <div class="widget">
        <h4 class="widget-title">About me</h4>
        <div class="widget-about-content">
            <div class="images">
                <img src="http://wx4.sinaimg.cn/mw690/c1de0234ly1feao2h4jdtj20df0dfaao.jpg" alt="Image">
            </div>
            <h4 class="text-uppercase fs-14">伪胖达</h4>
            <p>唯有美食与性不可辜负，为了厨艺升华和极致性体验，正在修行。</p>
        </div>
    </div>
    {{! End About Me }}

    {{! Follow Us}}
    <div class="widget">
        <h4 class="widget-title">Follow us</h4>
        <div class="text-italic">
            <p>Various versions have evolved over the years, sometimes</p>
        </div>
        <div class="pi-social-square">
           {{> social-networks}}
        </div>
    </div>
    {{! End Follow Us}}

    {{! Latest Posts}}
	<div class="widget postslisting">
        <h4 class="widget-title">Latest posts</h4>
        <div class="widget-list latest-posts">
    	  <div class="sidebox-content loading">
    	    <div class="loader">
    	      <i class="fa fa-spinner fa-spin"></i>
    	    </div>
    	  </div>
        </div>
	</div>
    {{! End Latest Posts}}
    
    {{! Tag Clound}}
    {{#is "home, index"}}
    <div class="widget widget_tag_cloud">
        <h4 class="widget-title widget-title-style-1">Tag cloud</h4>
        <div class="tagcloud">
            <ul>
            {{#foreach posts}}
                {{#if tags}}
                {{#foreach tags}}
                    <li>
                        <a href="{{url}}" title="{{name}}" class="tag-{{id}}">{{name}}</a>
                    </li>  
                {{/foreach}}
                {{/if}}
            {{/foreach}}
            </ul>
        </div>
    </div>
    {{/is}}
    {{! End Tag}}

    {{! Twitter Feed}}
    <div class="widget">
        <h4 class="widget-title widget-title-style-1">Recent Weibo</h4>
	<iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=1&isFans=0&uid=1945604655&verifier=235f7e79&dpc=1"></iframe>
    </div>
    {{! End Twitter Feed}}

</div>
